# Dependencies
node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Environment variables
.env
.env.local
.env.*.local

# Build files
build/
dist/
*.tsbuildinfo

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache directories
.npm
.eslintcache

# System Files
.DS_Store
Thumbs.db